.buttonReset {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    border:1px solid white;
}
.buttonReset:hover {
    background-color: rgb(51, 51, 51);
    border: none;
    color: white;
    padding: 10px;
    border:1px solid white;
}